{% extends "base.html" %}
{% block content %}
    <style>
        .admin-stats {
            max-width: 900px;
            margin: 40px auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .admin-stats table {
            width: 100%;
            border-collapse: collapse;
        }

        .admin-stats th, .admin-stats td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }

        .admin-stats th {
            background-color: #51A1E3;
            color: #fff;
        }

        .action-buttons a {
            display: inline-block;
            margin: 0 5px;
            padding: 8px 12px;
            background-color: #51A1E3;
            color: #fff;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .action-buttons a:hover {
            background-color: #3b8ac2;
        }
    </style>

    <div class="admin-stats">
        <h2>Архив статистики (по дням)</h2>
        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Контакты</th>
                <th>Организации</th>
                <th>Заблокированные Telegram</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for stat in aggregated_stats %}
                <tr>
                    <td>{{ stat.report_date }}</td>
                    <td>{{ stat.total_contacts }}</td>
                    <td>{{ stat.total_orgs }}</td>
                    <td>{{ stat.total_blocked }}</td>
                    <td class="action-buttons">
                        <a href="{% url 'export_excel' %}?report_date={{ stat.report_date|date:"Y-m-d" }}" target="_blank">Скачать в
                            Excel</a>
                        <a href="{% url 'view_stat_by_date' %}?report_date={{ stat.report_date|date:"Y-m-d" }}"
                           target="_blank">Открыть</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Нет данных</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}